.aboutBG {
  background-color: #1abc9c;
  height: 75vh;
}
.line .whiteLine {
  width: 100px;
  border: 2px solid white;
  border-radius: 5px;
  opacity: 1;
}
.line i {
  color: white !important;
}
.customWidth {
  width: 50%;
  margin: auto;
}
.aboutBG p {
  font-size: 20px;
  line-height: 30px;
}
@media only screen and (max-width: 992px) {
  .customWidth {
    width: 90%;
    margin: auto;
  }
}
